<%- include('../partials/header') %>
<tbody>
    <h1>Todo List App</h1>
    <% todos.forEach(function(m) { %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.owner %></td>
        <!-- <td><a href="/movies/<%= m._id %>">DETAILS</a></td> -->
      </tr>
      <% }); %>
</tbody>



<%- include('../partials/footer') %>