<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: <%= todo.name %></div>
</section>


<form id="add-item-form" method="POST" 
    action="/todos/<%= todo._id %>/todoItem">
    <label>Item:</label>
    <input type="text" name="item">
    <label>Completed?</label>
    <input type="text" name="isDone">
    <input type="submit">
</form>


<% if (todo.todoItem.length) { %>
    <table>
        <thead>
            <tr>
                <th>Item:</th>
                <th>Completed?</th>
            </tr>
        </thead>
        <tbody>
            <% todo.todoItem.forEach(function(i) { %>
                <tr>
                    <td><%= i.item %></td>
                    <td><%= i.isDone ? 'Yes' : 'No' %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h5>No Items Yet</h5>
<% } %>



<%- include('../partials/footer') %>